{% extends "layout.html" %}

{% block content %}
<script>
  async function callback(stock, period, interval, color) {
      document.getElementById("chart").innerHTML = "<div class='text-center mt-5'>Loadings...</div>"
      let Stock = document.getElementById('stock').value;
      let Period = document.getElementById('period').value;
      let Interval = document.getElementById('interval').value;
      let Color = document.getElementById('color').value;
      // console.log(Stock)
      // console.log(Period)
      // console.log(Interval)
      // console.log(Color)
      let response = await fetch("/callback/getStock?data=" + Stock + "&period=" + Period + "&interval=" + Interval + "&color=" + Color);
      if (response.ok) {
          
          let chartJson = await response.json();
          if (response.ok) {
              response = await fetch("/callback/getInfo?data=" + Stock);
              let infoJson = await response.json();
              document.getElementById("chart").innerHTML = ""
              Plotly.newPlot('chart', chartJson, {});
              
          } else {
              alert("HTTP-Error: " + response.status + "on getInfo");
          }
      } else {
          alert("HTTP-Error: " + response.status + "on getStock");
      }
  }

</script>


<button class="btn btn-sm btn-outline-dark" onclick="goToIndex()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
    </svg>
Index
</button> - Quote
<div class='d-none row'>
  <span id="col-xs" class='col d-block d-sm-none'>xs</span>
  <span id='col-sm' class='col d-none d-sm-block d-md-none'>sm</span>
  <span id='col-md' class='col d-none d-md-block d-lg-none'>md</span>
  <span id='col-lg' class='col d-none d-lg-block d-xl-none'>lg</span>
  <span id='col-xl' class='col d-none d-xl-block d-xxl-none'>xl</span>
  <span id='col-xxl' class='col d-none d-xxl-block'>xzl</span>
</div>
<div class="d-none">
  <input type="hidden" id="stock" value="{{ name }}">
  <input type="hidden" id="period" value="{{ period }}">
  <input type="hidden" id="interval" value="{{ intervals[period] }}">
  <input type="hidden" id="color" value="{{ color }}">
</div>
<div class="row px-1">
    <!-- <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 text-center"> -->
        <div class="container py-2">
            <div class="row align-items-stretch my-2">
              <div class="col-12 border-top border-{{color}} border-5 mb-3 order-lg-1">
                <h5 class="fw-bold mt-2 mb-0">{{tick['longName']}} ({{name}})</h5>
                <p class="xsmall text-secondary mb-2">{{tick['fullExchangeName']}}	{{tick['quoteSourceName']}}	Currency in	{{tick['financialCurrency']}}</p>
                <div class="d-flex align-items-bottom mt-0 mb-0"><h1 class="fw-bold mt-auto mb-0 me-2">{{tick['regularMarketPrice']}}</h1><h4 class="fw-bold mt-auto mb-1 me-2 text-{{color}}">{{tick['regularMarketChange']}}</h4><h4 class="fw-bold mt-auto mb-1 me-2 text-{{color}}">({{tick['regularMarketChangePercent']}}%)</h4></div>
                {% if tick['marketState'] == "REGULAR" %}
                <p class="xsmall text-secondary my-0">As of	{{tick['regularMarketTime']}}.	Market	Open.</p>
                {% else %}
                <p class="xsmall text-secondary my-0">At close: {{tick['regularMarketTime']}}</p>
                {% endif %}
              </div>

              <div class="col-lg-6 order-lg-3">
                <div class="col-12">
                  <div class="d-flex flex-wrap stock-nav">
                    {% for key, val in periods.items() %}
                    {% if period == key %}
                      <a class="xsmall ms-2 mt-2 mb-0 fw-bolder text-primary" href="{{ url_for('quote', name=name, period=key) }}">{{ val }}</a>
                    {% else %}
                      <a class="xsmall ms-2 mt-2 mb-0 fw-bolder text-dark" href="{{ url_for('quote', name=name, period=key) }}">{{ val }}</a>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div id="chart" class="chart" style="height: 250px; width:100%;"></div>
                </div>
              </div>

              <div class="col-lg-6 mb-5 d-flex flex-wrap small order-lg-2">
                <!-- <div class="mb-4" ><img src="https://covers.openlibrary.org/a/olid/{{ key }}-M.jpg" alt=""></div> -->
                <div class="col-6">
                  <table class="table stock-table me-2">
                    <tbody>
                      <tr>
                        <td scope="row">Open</td>
                        <th>{{tick['regularMarketOpen']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Bid</td>
                        <th>{{tick['bid']}} x {{tick['bidSize']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Ask</td>
                        <th>{{tick['ask']}} x {{tick['askSize']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Day's Range</td>
                        <th>{{tick['regularMarketDayRange']}}</td>
                      </tr>
                      <tr>
                        <td scope="row">52 Week Range</td>
                        <th>{{tick['fiftyTwoWeekRange']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Volume</td>
                        <th>{{tick['regularMarketVolume']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Avg. Volumne</td>
                        <th>{{tick['averageDailyVolume3Month']}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-6">
                  <table class="table stock-table ms-2">
                    <tbody>
                      <tr>
                        <td scope="row">Previous Close</td>
                        <th>{{tick['regularMarketPreviousClose']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Market Cap</td>
                        <th>{{tick['marketCap']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">PE Ratio (TTM)</td>
                        <th>{{tick['trailingPE']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">EPS (TTM)</td>
                        <th>{{tick['epsTrailingTwelveMonths']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Earnings Date</td>
                        <th>{{tick['earningsTimestampStart']}} - {{tick['earningsTimestampEnd']}}</th>
                      </tr>
                      <tr>
                        <td scope="row">Forward Dividend & Yield</td>
                        <th>{{tick['trailingAnnualDividendRate']}} ({{tick['trailingAnnualDividendYield']}}%)</th>
                      </tr>
                      <tr>
                        <td scope="row">Ex-Dividend Date</td>
                        <th>{{tick['dividendDate']}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- font-weight -->
                <!-- <h1 class="fw-bold">Some name</h1>  -->
                <!-- font-size -->
                <!-- <p class="fs-6">Some Quote</p> -->
              </div>

            </div>
          </div>
    </div>

</div>
<script>callback();</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  function reportWindowSize() {
    // currentLowRange = [775,]
    // currentHighRange = []
    // console.log(window.innerHeight);
    // console.log(window.innerWidth);
    // widthOutput.textContent = window.innerWidth;
    checkIfBlock('col-xs');
    checkIfBlock('col-sm');
    checkIfBlock('col-md');
    checkIfBlock('col-lg');
    checkIfBlock('col-xl');
    checkIfBlock('col-xxl');
  }
  var existing = ""
  function checkIfBlock (target) {
    var x = document.getElementById(target);
    if (window.getComputedStyle(x).display === "block") {
      
      if (existing != target){
        existing = target
        // console.log(target)
        callback();
      }
      // Do something..
    }
    // if (document.getElementById(target).style.display == 'block'){
    //     console.log(target)
    // }
 
    // var target = $(target).css('display') == 'block';
    // return target;
  }
  window.onresize = reportWindowSize;
  // window.onresize;
  function goToIndex(){
    window.location.assign("/index");
    // console.log("test")
  }
</script>
{% endblock %}

